body{
    background-color: rgb(255, 213, 134);
}
h2{
    text-align:center;
    background-color: #ff0000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:1px solid white;
}
.dropbtn {
    margin-top: 5px;
    background-color: #2e2e2e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}    